@tailwind base;
@tailwind components;
@tailwind utilities;

.nodrag {
  -webkit-user-drag: none;
}

.fill-forward {
  animation-fill-mode: forwards;
}

.fill-backward {
  animation-fill-mode: backwards;
}

.fill-both {
  animation-fill-mode: both;
}

.fill-none {
  animation-fill-mode: none;
}

